body {
  padding: 0;
  margin: 0;
 }

.px-wide {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
-moz-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);

}

.bg-dark-brown{
  /* background:   #4e0329; */
  background-color: #044d84

}

.img{
    width: 43.75rem;
  height: 37.5rem;
}  
footer{
    margin:auto;
    background-color: #044d84;
    width: 100%;
}
nav{
 width: 100hv;
 
}
.splide{
    display: none;
}
