* {
    font-family: "Roboto";
  }
  h1 {
    position: absolute;
    color: #000000;
    font-size: 50px;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%, -100%);
    animation: morph-effect 10s infinite ease-in-out;
  }
  h1:nth-child(1) {
    animation-delay: -10s;
  }
  h1:nth-child(2) {
    animation-delay: -5s;
  }
  @keyframes morph-effect {
    0%,
    20%,
    100% {
      filter: blur(0px);
      opacity: 1;
    }
    40%,
    80% {
      filter: blur(16px);
      opacity: 0;
    }
  }
footer{
    color: #fff;
    clear: both;
     padding: 0.75em 0.75em;
    background:   #000000; 
    position: relative;
    top: 30px;
    border-top: 1px solid #000;
}
 
.bg-dark-brown{
    background:   #4e0329; 

}
.relative{
    position: relative;
}
img{
    border-radius: 10px;
    z-index: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
 }

 img:hover{
    opacity: .8;
    transition: all 0.7s;
     

 }
  
 button {
     background: transparent;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px 80px;
    border: 1px solid;
    border-radius: 10px;
    opacity: .8;
    color: #fff;
   }

   button:hover{
    background-color: #fff;
     transition: all 0.7s;
    color: #000;
   }


  .nav-link:hover{

    opacity: .8;
    transition: all .7s;

  }