body{
    margin:0;
    padding: 0;
 

    /* background-color: #6d1f45dd */
}

nav{
 width: 120%;
 
}

.carousels{
   width: 60rem;
   margin-left: auto;
   margin-right: auto;
   -webkit-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
 -moz-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
 box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);

    }


    .img{
      width: 43.75rem;
    height: 37.5rem;
  }  


    
 

 
button:hover{
   -webkit-transition: all 0.5s 0s ease-in;
-moz-transition: all 0.5s 0s ease-in;
-o-transition: all 0.5s 0s ease-in;
transition: all 0.5s 0s ease-in;
}
.text_slide{
  background-color: rgb(0, 0, 0,0.50);
  }