body{
    margin:0;
    padding: 0;
 

    /* background-color: #6d1f45dd */
}

 

.carousels{
   width: 60rem;
   margin-left: auto;
   margin-right: auto;
   -webkit-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
 -moz-box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);
 box-shadow: -10px 22px 15px -7px rgba(0,0,0,0.44);

    }


    .img{
      width: 43.75rem;
    height: 37.5rem;
  }  


    
 

 
button:hover{
   -webkit-transition: all 0.5s 0s ease-in;
-moz-transition: all 0.5s 0s ease-in;
-o-transition: all 0.5s 0s ease-in;
transition: all 0.5s 0s ease-in;
}



 /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
 .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

.color_textBarr{
  color: #000;
}
  
.postComint{
    background-color: aqua;
  }
