body{
    margin:0;
}

.carousels{
    width: 90rem; 
    margin-left: auto;
    margin-right: auto;
    }

 .img{
    width: 400px;
    height: 500px;
 }   
 .gard{
    display: grid;
    grid-gap: 0;
    
 }
 .rest-title{
 position: relative;left: 19%;
margin-bottom: 3%; 
}